{
  "check-coverage": true,
  "lines": 90,
  "statements": 90,
  "functions": 90,
  "branches": 90,
  "reporter": [
    "text",
    "text-summary",
    "json",
    "json-summary",
    "lcov",
    "html"
  ],
  "report-dir": "coverage"
}